<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Nosso Vereador</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Nosso Vereador</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right">
                <h2>Prazer sou Alberto Braga</h2>
                <h3>Vereador</h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                <p>
                    27 anos. Está era minha idade quando fui escolhido, pela primeira vez, vereador de Salvador
                    Hoje, pouco mais de uma década depois, sigo tão motivado quanto nos meus primeiros dias na 
                    Câmara Municipal, o que me da a certeza de que ainda posso fazer muito mais por nossa cidade.
                    Com experiência, aumentou a minha responsabilidade com você, Sou sensivel as necessidades de cada
                    soteropolitano e tenho buscado visitar cada canto da cidade, ouvindo e anotando as necessidades,
                    correndo para os orgãos ppúblicos e não sossego enquanto não volto com melhorias.
                    De braços abertos, ouvindo atentos e coração grand, me sinto realizado ao ver a mudança acontecendo nas comunidades
                    beneficíadas pelo nosso trabalho e feliz e feliz com a gratidão de todos que ajdamos.


                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Morar Melhor em Pirajá</li>
                    <li><i class="ri-check-double-line"></i>Unidade Saúde da Família</li>
                    <li><i class="ri-check-double-line"></i>Morar Melhor Alto do Cabrito</li>
                    <li><i class="ri-check-double-line"></i>Iluminando Nosso Bairro em Pirajá</li>
                    <li><i class="ri-check-double-line"></i>Instalação da Imagem Nossa Senhora da Luz</li>
                    <li><i class="ri-check-double-line"></i>Instalação da Imagem Nossa Senhora da Luz</li>
                </ul>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->