{% extends 'site_base.html' %}
{% load static %}
{% block title %}
Nosso Vereador | {{ block.super }}
{% endblock title %}




{% block main %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Blog</h2>
            <ol>
                <li><a href="/">Inicio</a></li>
                <li>Blog</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 entries">

                {% for noticia in object_list %}

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="{{ noticia.imagem.url }}" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">{{ noticia.titulo }}</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="icofont-user"></i> <a
                                    href="blog-single.html">{{ noticia.responsavel }}</a></li>
                            <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                                    href="blog-single.html"><time datetime="2020-01-01">{{ noticia.data }}</time></a>
                            </li>
                            <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a
                                    href="blog-single.html">12 Comentários</a></li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            {{ noticia.conteudo }}
                        </p>
                        <div class="read-more">
                            <a href="blog-single.html">Saber Mais</a>
                        </div>
                    </div>

                </article><!-- End blog entry -->


                {% endfor %}




                <div class="blog-pagination">
                    <ul class="justify-content-center">
                        <li class="disabled"><i class="icofont-rounded-left"></i></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
                    </ul>
                </div>

            </div><!-- End blog entries list -->

            <div class="col-lg-4">

                <div class="sidebar" data-aos="fade-left">

                    <h3 class="sidebar-title">Pesquisar</h3>
                    <div class="sidebar-item search-form">
                        <form action="">
                            <input type="text">
                            <button type="submit"><i class="icofont-search"></i></button>
                        </form>

                    </div><!-- End sidebar search formn-->

                    <h3 class="sidebar-title">Categories</h3>
                    <div class="sidebar-item categories">

                        {% for categoria in categorias %}
                        <ul>
                            <li><a href="#">{{ categoria.nome }} <span>(25)</span></a></li>
                        </ul>

                        {% endfor %}



                    </div><!-- End sidebar categories-->
                    <!--
                    <h3 class="sidebar-title">Recent Posts</h3>
                    <div class="sidebar-item recent-posts">
                        <div class="post-item clearfix">
                            <img src="{% static 'site_static/img/blog-1.jpg' %}" alt="">
                            <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="{% static 'site_static/img/blog-2.jpg' %}" alt="">
                            <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="{% static 'site_static/img/blog-3.jpg' %}" alt="">
                            <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="{% static 'site_static/img/blog-4.jpg' %}" alt="">
                            <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="{% static 'site_static/img/blog-5.jpg' %}" alt="">
                            <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>

                    </div>
                     End sidebar recent posts-->
                    <h3 class="sidebar-title">Tags</h3>
                    <div class="sidebar-item tags">

                        {% for tag in tags %}
                        <ul>
                            <li><a href="#">{{ tag.nome }}</a></li>
                        </ul>
                        {% endfor %}


                    </div><!-- End sidebar tags-->

                </div><!-- End sidebar -->

            </div><!-- End blog sidebar -->

        </div>

    </div>
</section><!-- End Blog Section -->



{% endblock main %}